enum enc_t : uint16_t {
    UNDEFINED, // 0
{%- for enc in encs %}
    {{ enc.name }}, // {{ loop.index }}
{%- endfor %}
    ENC_MAX, // {{ encs|length + 1 }}
};

constexpr EncodingBits encoding_bits[] = {
    {}, // UNDEFINED
{%- for enc in encs %}
    {% raw %}{{% endraw %}{{ enc.pos_mask_str }}, {{ enc.pos_val_str}}, {{ enc.neg_mask_str }}, {{ enc.neg_val_str }}{% raw %}}{% endraw %}, // {{ enc.name }} / {{ enc.mnemonic }}
{%- endfor %}
};

constexpr const char *encoding_names[] = {
    "UNDEFINED", // UNDEFINED
{%- for enc in encs %}
    "{{ enc.name }}", // {{ enc.mnemonic }}
{%- endfor %}
};

constexpr const char *encoding_mnemonics[] = {
    "UNDEFINED", // UNDEFINED
{%- for enc in encs %}
    "{{ enc.mnemonic }}", // {{ enc.name }}
{%- endfor %}
};

